asgiref==3.2.7
construct==2.5.3
Django==3.0.14
django-appconf==1.0.4
django-contrib-comments==1.9.2
django-haystack==2.8.1
django-imagekit==4.0.2
django-mdeditor==0.1.18
emoji==0.5.4
future==0.18.2
jieba==0.42.1
Markdown==3.2.1
mysqlclient==1.4.6
pefile==2019.4.18
pilkit==2.0
Pillow==7.1.1
Pygments==2.6.1
PyMySQL==0.9.3
python-ptrace==0.9.5
pytz==2019.3
six==1.14.0
sqlparse==0.3.1
Whoosh==2.7.4
